/*清除原样式*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#tit {
    width: 100%;
    height: 50px;
    background: #ffffff;
    font-size: 18px;
    font-family: 微软雅黑;
}
    #tit cen {
        width: auto;
        height: 40px;
        right: 0px;
    }
